/* Fonts */
@font-face {
    font-family:"hiroshimaregular";
    src: url('css/fonts/hiroshima_gyoshi-webfont.woff2')
format('woff2'),
         url('css/fonts/hiroshima_gyoshi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}




/* Body */
body {
    padding: 0;
    margin: 0;
    width: 1290;
    height: 1080;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* header */

header {
    height: 15vh;
    width: 100%;
    display:inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

header h2 {
font-family: 'hiroshimaregular';
font-weight: normal;
font-style: normal;
}



/* Menu */

.spanButton {
    position: fixed;
    top: 5vh;
    right: 50px;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    cursor: pointer;
    color: #cdcdcd;
    z-index: 1;
    transition: color 0.5s ease;
}

.spanButton:hover{
    color: #04ED41;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s ease-out;
    padding: 0px;
    scroll-behavior: smooth;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.myClasses {
    height: 0;
    width: 50%;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    background-color: #cdcdcd;
    overflow-x: hidden;
    transition: 0.3s ease-out;
    scroll-behavior: smooth;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lijst {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    justify-content: space-around;
}

.lijst ul {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    justify-content: space-around;
    height: 100%;
}

.myClasses a {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #232323;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.first {
    padding-top: 110px !important;
}

.sidenav a {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.sidenav a:hover {
    color: #f1f1f1;
    scroll-behavior: smooth;
}

.sidenav .closebtn {
    padding-top: 0px;
    position: absolute;
    top: 35px;
    right: 50px;
    font-size: 36px;
    margin-left: 50px;
    scroll-behavior: smooth;
}

/* Form */

form {
    display: inline-block;
}

.search {
    display: inline-block;
}

/* Main */

main {
    width: 100%;
}

main h2  {
    width: 100%;
    text-align: center;
    padding-top: 10vh;
}

.stucture{
    width: 80%;
    height: 100vh;
    background-color: #1c2229;
    margin: 10vh auto;
}

.stucture h3 {
    text-align: center;
}



/* extra css van Senne*/


#wrapper {
	padding: 0px;
	width: 900px;
	margin: auto;
}


#header{
	position:inline-block;
    top: 0px;
}

#content {
	width: 830px;
	margin-bottom: 0px;
	margin-top: 100px;
	height: 322px;
    padding: 10px;
	position:center;
}



#footer{
	width: 1280px;
	margin: auto;
	position:inline-block;
	height: 300px;
}

#header {
	width: 1280px;
	margin: auto;
	margin-bottom: 0px;
	height: 35px;
}





/*** Opmaak ***/

body {
	margin: 0;
    padding: 0px;
    background-image: url("/IMGPollepel.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

#footer{
	background: #43464B;
	text-align: center;
	padding: 35px;
}

#header{
	background: #43464B;
	text-align: center;
	padding: 15px;
}

#content {
	background: #C26D6D;
    padding: 15px;
}